<section class="row" data-ng-controller="GoogleoptionsController" ng-init = "init()">
    <h3 class="col-md-12 text-center">Opciones sobre Google Calendar</h3>
    <div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2" style="text-align: center;">
        <fieldset data-ng-if="autoritzat">
            <h5 class="text-success">Dailyplanner ya tiene autorización para ver tus calendarios!</h5>
        </fieldset>
        
        <div class="apartat" data-ng-if="!calendaris">
           <div class="separator"></div>
            <fieldset>
                <h5>Estemos verificando si tenemos acceso a tus calendarios...</h5>
            </fieldset>
            <div class="separator"></div>
        </div>
        <div class="separator"></div>
        <div class="apartat" data-ng-if="calendaris">
            <fieldset>
                <h5>A continuación se muestran los caledarios encontrados:</h5>
                <div class="separator"></div>
                <table class="table">
                    <thead>
                        <tr>
                            <th style="text-align:center;">Descripción del calendario</th>
                            <th style="text-align:center;">Calendario principal</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="c in calendaris">
                            <td>{{c.summary}}</td>
                            <td data-ng-if="c.primary == true">X</td>
                            <td data-ng-if="c.primary != true"></td>
                            <td><input type="button" value="Importar" ng-click="importCalendar(c)"></input></td>
                        </tr>
                    </tbody>
                </table>

            </fieldset>
            <div class="separator"></div>
        </div>
    </div>
</section>
<style>
.col-md-offset-5{
margin-left: 25%;
}
.col-md-2{
width: 50%;
}
.separator {
    height: 30px;
}

</style>
